### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.env/
.venv/
.tox/
.cache/

### Sublime Text ###
*.sublime-project
*.sublime-workspace

### JetBrains ###
.idea

### Mac ###
*.DS_Store
